    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

    body {font-family: 'Inter', sans-serif;
    
    }

.mesage { 
    display: flex;
    margin-top: 47px;
    margin-left: 68px;
    align-items: center;
    height: 28px;
    
    
}
.icon {
    align-self: ;
} 


    h1 { 
        margin-left: 12px;
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
        height: 10;
    
    }

    
    .logo {
        margin-left: 255px;
        margin-top: 43px;

    }

    .icon { 
    display: inline-block;
    
}

    p .goods-position {
        font-size: 16px;
        font-weight: 400;
        margin-left: 68px;
    }
   
.info2 { 
    display: inline-block;
    width: 255px;
}

.gray  {
    display: inline-block;
    color: #A6A6A6;
    width: 224px;

    
    
}

.info {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 68px;
    
    
}

.order {
    display: flex;
    margin-top: 12px;
    
    
    font-size: 16px;
    font-weight: 400;
    line-height:26px;

}

section {
    margin-top: 30px;
    padding-left: 68px;
}

div.goods {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    height: 222px;
    width: 538px;
    margin-left: 68px;
    border-radius: 8px;
}

div .goods-info {
    display: flex;

    flex-direction: column;
    margin-left: 34px;
    padding-top: 0px;

}


h2 {
    font-size: 18px;
    font-weight: 600;
    
    margin-top: 25px;
    margin-bottom: 19px;
    line-height: 22px;
}

div.goods-position {
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: #d6d6d6;
    width: 472px;
    
    margin-bottom: 19px;
    font-size: 14px;
    line-height: 23px
}

    span.goods-position {
    display:inline-block;
    width: 298px;
    
    }

    span.goods-position2 {
        display:inline-block;
        margin-bottom: 7px;
        width: 64px;
        margin-left: -5px;
        text-align: right;
        line-height: 23px;
        }

        span.goods-position3 {
            display:inline-block;
            margin-bottom: 7px;
            width: 112px;
            
            margin-left: -5px;
            text-align: right;
            line-height: 23px;
            
        }

        .goods-position-total {
            width: 472px;
            font-size: 16px;
            font-weight: 600;
            border-bottom: solid;
            border-width: 1.5px;
    border-bottom-color:#000000;

        }


        .goods-position-total2 {
            display:inline-block;
            text-align: right;
            
            width: 421px;
            margin-bottom: 7px;
            margin-left: -5px;            

        }

        .goods-position-total1 {
            line-height: 19px;

        }

        .goods-position-total2 {
            line-height: 19px;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            line-height: 19px;
            font-weight: 400;
            color:rgb(255, 255, 255);
            width: 170px;
            height: 43px;
            background-color: #E41E4E;
            text-align:center;
            margin-top: 40px;
            margin-left: 252px;
            border-radius: 4px;
        }

        .signature {
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-top:  40px; 
            margin-left: 68px;
        }

        .signature2 {
            margin:0 ;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            margin-left: 68px;
        }

        .no-reply {
            font-size: 12px;
            line-height: 26px;
            font-weight: 400;
            color: #A6A6A6;
            margin:0 ;
            margin-top: 30px;
            margin-left: 68px;
            border-bottom: solid;
            border-width: 1px;
            border-color: #A6A6A6;
            padding-bottom: 27px;
            width: 538px;

        }

        .f{
            margin-left: 68px;
            display: flex;
            height: 104px;
            align-items: center;
            
        }

        .icon-TG {
            margin-left: 19px;
            
           
        
        }
        .icon-VK {
            margin-left: 8px;
            margin-right: 57px;
            
        }

        .f1 { 
            font-size: 12px;
            line-height: 26px;
            font-weight: 400;
            width: 147px;
        }   
        
        .shop {
            margin-left:57px;
            font-size: 12px;
            line-height: 26px;
            font-weight: 400;
            text-decoration: none;
            color:rgb(0, 0, 0);
           
        }   
        
        body {
            width: 50%;
            margin: auto;
        }

        .logo2 {
            

        }