!!!
%html{:lang => "en"}
  %head
    %link{:href => "./Untitled-1.scss", :rel => "stylesheet"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Реквизиты ООО "ВЕБ-КУЛЬТ"
  %body
    .requisites-page
      .h1-text Реквизиты юридического лица маркетплейса ООО «ВЕБ-КУЛЬТ»
      .requisites-block
        .p-info ОГРН 1203600040930
        %li.requisites ИНН 3666254028
        %li.requisites КПП 366401001
      .ur-adress Адрес:  394026, Воронежская область, г Воронеж, Плехановская ул, д. 53, офис 902
      .h1-text Контакты
      .p-info2 Эл. почта: manager@cult.shop
      %img.black-ribbon{:src => "https://github.com/ntyumin/ntyumin.github.io/blob/master/Frame%20152.png?raw=true"}/
          